<h1>Contact Info</h1>
<p>Literally Thundercats cliche tofu Intelligentsia cardigan yr, lumbersexual Portland letterpress. Photo booth Thundercats master cleanse literally fingerstache whatever. Letterpress readymade banjo Helvetica hoodie shabby chic. Schlitz PBR&B sriracha farm-to-table, slow-carb Truffaut biodiesel whatever butcher kogi skateboard jean shorts cardigan tattooed. Keffiyeh sustainable bicycle rights, tote bag ugh lumbersexual vegan brunch blog gastropub literally. Single-origin coffee +1 stumptown, tattooed synth pour-over banh mi Pitchfork twee church-key.  </p>
<h3>Fabian@support.de</h3>
<p>Murtener Str. 5 </p>
<p>030-847-20-600</p>

<h1>Contact us</h1>
<%= flash[:notice] %>

<%= form_tag("/static_pages/thank_you") do %>

<div class="row">
	<div class="col-md-4">
		<div class="form-group">
			<%= label_tag :name, "Name" %>
			<%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>

		</div>
		<div class="form-group">
			<%= label_tag :email, "Email Address" %>
			<%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>

		</div>
		<div class="form-group">
			<%= label_tag :message, "Message" %>
			<%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>


		</div>
	</div>
	
</div>
<%= submit_tag "Send" %>
<% end %>