

<p id="notice"><%= notice %></p>
<%= alert %>

<div class="row">
  <div class="col-sm-12 col-md-6 product-display">
    <div class="thumbnail">
      <%= image_tag(@product.image_url) %>
      <div class="caption">
        <h3><%= @product.name %></h3>
        <p><%= @product.description %></p>

        <p>
          <strong>Colour:</strong>
          <%= @product.colour %>
        </p>

        <p>
          <strong>Price:</strong>
          <%= @product.price %>
        </p>
        <br>
        <p><strong>Average Rating:</strong><div class="rated" data-score="<%= @product.average_rating %>"></div></p>
        <br>
        <%= form_tag "/payments/create" do %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <% end %> 
        <%= link_to 'Edit', edit_product_path(@product) %> |
        <%= link_to 'Back', products_path %>
        <br>
        <br>
        <%= render 'comments/new_comment' %>
        <%= render 'comments/show_comments' %>
        <%= will_paginate @comments, renderer: BootstrapPagination::Rails,  previous_label: "Older", next_label: "Newer" %>
      </div>
    </div>
  </div>
</div>









